@import "./root.css";
@import "./weeklyView.css";

@media (min-width: 1280px) {
  body {
    max-width: 1280px;
    margin-inline: auto;
  }
}

h1,
h2,
h3 {
  font-family: var(--font-family-title);
}
