section#weekly-view {
  display: none;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

thead {
  background-color: hsl(0, 0%, 0%);
  border-inline: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  height: 2rem;
}
thead {
  position: sticky;
  top: 0;
}

tbody td {
  border: 1px solid hsl(0, 0%, 50%);
}

tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 66%);
}

td {
  height: 1rem;
  text-align: center;
}

td.time-hour {
  background-color: hsl(0, 0%, 83%);
}

td.time-hour span {
  writing-mode: tb;
  transform: rotate(180deg);
  vertical-align: middle;
}

th.day {
  width: calc(100% / 7);
}

.course {
  background-color: hsl(120, 100%, 30%);
  font-weight: bold;
  font-size: 0.8rem;
}
