# ignore a single file
# mycode.class
.env
sandbox.*

# ignore an entire directory
.vscode/
node_modules/
mock-api/

# ignore a file type
# *.json
# *.code-workspace
*.db

# add an exception (using !) to the preceding rule to track a specific file
# !package.json